/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: dodgerblue;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

:root {
  --sidebar-bg-color: #1A1A1A;
  --text-color: #E0E0E0;
  --bg-color: #0D0D0D;

  --accentColorWhite: #E0E0E0df;

  --accentColorRed: #853030df;
  --accentColorDarkRed: #493a41df;

  --accentColorDarkBlue: #627387df;
  --accentColorLightBlue: #a5c5dcdf;

  --contentbgDarkBlue: #2d333fdf;
  --contentbgLightBlue: #374455df;

  --bgImage: url("/images/backgrounds/pxfuel.jpg");

  --contentContainerPadding: 5px;
  --contentContainerTopMargin: 1vh;

  --transparency: cf;
}

/*
[colorTheme="007"] {
  --sidebar-bg-color: #1A1A1A;
  --text-color: #E0E0E0;
  --bg-color: #0D0D0D;

  --accentColorRed: #853030;
  --accentColorDarkRed: #493a41;

  --accentColorDarkBlue: #627387;
  --accentColorLightBlue: #a5c5dc;


  --contentbgDarkBlue: #2d333f;
  --contentbgLightBlue: #374455;

  --bgImage: url("images/hole.jpg");


}*/

@font-face {
  font-family: "myFont";
  src: url("/fonts/eurostile.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  margin: 0;
  font-family: "myFont", sans-serif;
  /*background-color: var(--bg-color);*/
  background-image: var(--bgImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--text-color);

  height: 100vh;
  overflow: hidden;


}

body h1 {
  font-size: 3.5vw;
}

body h2 {
  font-size: 2.5vw;

}

body h3 {
  font-size: 2.3vw;

}

body h4 {
  font-size: 2vw;
}

body p {
  font-size: 1.8vw;
}

body a {
  font-size: 2.5vw;
}

/* Sidebar */

.sidebar {
  width: 17vw;
  /*background-color: var(--bg-color);*/


  padding: 0 1vw;

  border-right-style: dashed;
  border-right-color: var(--accentColorRed);
  border-right-width: 0.5vw;

  overflow: auto;
}

.sidebarContent {
  padding-left: 1vw;


}

.sidebarContentPicture {
  width: 70%;

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;
  padding: var(--contentContainerPadding);

  margin-top: 2vh;
  margin-bottom: 0;
}

.sidebarContentPicture img {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 1px;
}

.sidebarContent h1 {
  background-color: var(--accentColorWhite);
  color: var(--bg-color);

  padding: 0 5px;
  font-size: 2.5vw;

  margin-top: 5px;
  margin-bottom: 5px;

}

.sidebarContent p {
  background-color: var(--accentColorDarkRed);
  padding: 0 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
}

.sidebarContentLocation {
  display: flex;
  margin-bottom: 4vh;
}

.sidebarContentLocationImage {
  margin-top: auto;
  margin-bottom: auto;

  width: 35%;

}

.sidebarContentLocationText {
  flex-direction: column;
  padding-left: 1vw;

  width: 100%;
}

.sidebarContentLocationText p {
  margin-top: 0;
  margin-bottom: 0;

  padding: 0 5px;

}


.sidebar-navigation {
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-navigation a {
  text-decoration: none;
  background-color: var(--accentColorRed);
  color: var(--text-color);

  margin-bottom: 2vh;


  padding: 0 5px;

  transition: background 0.3s;
}

.sidebar-navigation a:hover {
  background-color: var(--accentColorDarkBlue);
  color: var(--text-color)
}


/* Main Section */
.mainSection {
  padding-left: 2vw;
  flex: 1;
  overflow-y: auto;
}

.mainSectionArticleHeading {
  background-color: var(--accentColorDarkBlue);
  color: var(--text-color);
  width: fit-content;
  padding: 0 5px;

  font-size: 3.5vw;

  font-weight: bold;

  margin-bottom: 0;

}

.mainSectionArticleSecondHeading {
  background-color: var(--accentColorLightBlue);
  color: var(--bg-color);

  padding: 0 5px;

  margin-top: 0;
  margin-bottom: 0;
}

/*About*/

.aboutContainer {
  display: flex;
  padding-top: 0;

  border-top-color: var(--accentColorDarkBlue);
  border-top-style: solid;
  border-top-width: 1vh;
}


.aboutPictureContainer {
  width: 20%;

  padding: var(--contentContainerPadding);
  margin-top: var(--contentContainerTopMargin);

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;

}

.aboutPictureContainer img {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 1px;
}

.aboutInformationContainer {
  margin-left: 1vw;

  padding: var(--contentContainerPadding);
  padding-top: 0;
  margin-top: var(--contentContainerTopMargin);

}

.aboutInformationContainer h1 {
  margin-top: 0;
  margin-bottom: 0;


  font-weight: bold;
  background-color: var(--accentColorWhite);
  color: var(--bg-color);
  padding: 0 5px;
  width: fit-content;
}

.aboutInformationContainer p {
  margin-top: 0;


  background-color: var(--contentbgDarkBlue);
  color: var(--text-color);
  width: fit-content;
  padding: 0 5px;
}


/* CV */
.cvContainer {
  display: flex;

  border-top-color: var(--accentColorDarkBlue);
  border-top-style: solid;
  border-top-width: 1vh;


}

.timeline {
  width: 1px;
  background-color: var(--accentColorRed);

  padding: var(--contentContainerPadding);
  margin-top: var(--contentContainerTopMargin);
}

.academicColumn {
  margin-right: 1vw;

  margin-bottom: 0;


  padding: var(--contentContainerPadding);
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: var(--contentContainerTopMargin);
}

.internshipColumn {
  margin-left: 1vw;

  margin-bottom: 0;

  padding: var(--contentContainerPadding);
  padding-top: 0;
  padding-bottom: 0;
  margin-top: var(--contentContainerTopMargin);
}

.cvContentContainer {

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1vh;

  padding: var(--contentContainerPadding);

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;

}

/*
.cvContentContainerInternship {
  background-color: var(--bg-color);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;


  padding: 1px 10px;
}*/

.cvContentContainer h3 {
  background-color: var(--contentbgDarkBlue);
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;

}

.cvContentContainer h4 {
  background-color: var(--contentbgLightBlue);
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.cvContentContainer p {
  background-color: var(--contentbgDarkBlue);

  margin-bottom: 0;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}


/*Skills */
.skillsContainer {
  border-top-color: var(--accentColorDarkBlue);
  border-top-style: solid;
  border-top-width: 1vh;

  padding-right: 1vw;
}

.skillsContentContainer {
  /* width: 76vw;*/
  width: fit-content;

  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: var(--contentContainerTopMargin);

  padding-top: var(--contentContainerTopMargin);


}

.skillsComingSoon{
  display: flex;
  justify-content: center;
  align-items: center;

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;

  padding: 5px;
  margin-top: var(--contentContainerTopMargin);

  width: fit-content;
}


.skillsComingSoon h2 {

  background-color: var(--accentColorLightBlue);
  color: var(--bg-color);
  width: fit-content;
  padding: 0 5px;
}




.skill {
  display: flex;

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;

  padding: 5px;


}

.skill h2 {
  background-color: var(--accentColorLightBlue);
  color: var(--bg-color);

  height: min-content;
  padding: 0 5px;


}

.skillImage {
  width: 7vw;
  margin-right: 1vw;
}

.skill-name {
  margin-bottom: 5px;

}


/*Hobbies*/

.hobbiesContainer {
  display: flex;

  border-top-color: var(--accentColorDarkBlue);
  border-top-style: solid;
  border-top-width: 1vh;
}

.hobbiesContentContainer {

  width: 33%;
  margin-top: 1vh;
  margin-right: 1vw;
  padding: 5px;

  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;

  height: min-content;
  display: block;


  /*animation: containerAppear 2s ease 0s 1 normal forwards;*/
}


.hobbiesContentPictureContainer {
  padding-right: 2px;

}

.hobbiesContentContainer img {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;


}


.hobbiesContentContainer p {
  margin-top: 0;
  margin-bottom: 0;


  background-color: var(--contentbgDarkBlue);
  color: var(--text-color);
  width: fit-content;
  padding: 0 5px;

}

.hobbiesContentContainer a {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

}
.hobbiesContentContainer h2{
  transition: background 0.3s;
}

.hobbiesContentContainer h2:hover {
  background-color: var(--accentColorRed);
  color: var(--text-color)
}

/*
@keyframes containerAppear {
  0% {
    transform: scale(0);

  }

  100% {
    transform: scale(1);

  }
}


